<div class="dropdown container">
 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Lighting<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li onclick="toggle_dynamic_lighting(this, dynamic_lighting)" id="dynamic_lighting"><a href="#">Dynamic Lighting</a></li>
    <li onclick="toggle_entity_shadows(this, entity_shadows)" id="entity_shadows"><a href="#">Object Shadows</a></li>
    <li onclick="toggle_terrain_shadows(this, terrain_shadows)" id="terrain_shadows"><a href="#">Terrain Shadows</a></li>
  </ul>
</div>
<div class="container" style="padding-top:15px;">
 <a class="btn btn-primary" id="toggle_pos_target_line">Target Line</a>
</div>
<div class="container" style="padding-top:15px;">
 <a class="btn btn-primary" id="toggle_fence">Fence</a>
</div>
<div class="container" style="padding-top:15px;">
 <a class="btn btn-primary" id="send_auto">AUTO</a>
</div>
<div class="container" style="padding-top:15px;">
 <a class="btn btn-primary" id="hud_width">HUD Width</a>
</div>

